<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Datos Cliente</nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <input nbInput fullWidth
                 placeholder="Fecha de ingreso"
                 [nbDatepicker]="formpicker">
          <nb-datepicker #formpicker></nb-datepicker>
        </div>
        <div class="input-group">
          <input type="number" nbInput fullWidth placeholder="Número de DTE">
        </div>
        <div class="input-group input-auto">

          <input autocomplete nbInput fullWidth placeholder="Matarife"
                 [config]="configMatarife" [items]="matarifes"
                 (inputChangedEvent)="onInputChangedEvent($event)"
                 (selectEvent)="onSelect($event)">

        </div>
        <div class="input-group input-auto">
          <input autocomplete nbInput fullWidth placeholder="Productor"
                 [config]="configProductores" [items]="productores"
                 (inputChangedEvent)="onInputChangedEvent($event)"
                 (selectEvent)="onSelect($event)">
        </div>
        <div class="input-group input-auto">
          <input autocomplete nbInput fullWidth placeholder="Tranportista"
                 [config]="configTranportistas" [items]="transportistas"
                 (inputChangedEvent)="onInputChangedEvent($event)"
                 (selectEvent)="onSelect($event)">
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Datos ingreso</nb-card-header>
      <nb-card-body>
        <div class="input-group input-auto">
          <input autocomplete nbInput fullWidth placeholder="Corralero"
                 [config]="configCorraleros" [items]="corraleros"
                 (inputChangedEvent)="onInputChangedEvent($event)"
                 (selectEvent)="onSelect($event)">
        </div>
        <div class="input-group">
          <input autocomplete nbInput fullWidth placeholder="Número de Tropa"
                 [config]="configNumeroTropa" [items]="numeroTropa"
                 (inputChangedEvent)="onInputChangedEvent($event)"
                 (selectEvent)="onSelect($event)">
        </div>
        <div class="input-group">
          <select  class="form-control">
            <option [ngValue]="undefined" disabled  selected> Corral </option>
            <option *ngFor="let corral of corrales">{{corral.descripcion}}</option>
          </select>
        </div>
        <div class="row">
          <div class="col-sm-6 input-group">
            <select  class="form-control">
              <option [ngValue]="undefined" disabled  selected> Tipo de animal </option>
              <option *ngFor="let tipoAnimal of tiposAnimal">{{tipoAnimal.descripcion}}</option>
            </select>
          </div>
          <div class="col-sm-6 input-group">
            <select  class="form-control">
              <option [ngValue]="undefined" disabled  selected> Subtipo de animal </option>
              <option *ngFor="let subTipoAnimal of subTiposAnimales">{{subTipoAnimal.descripcion}}</option>
            </select>
          </div>
        </div>
        <div class="input-group">
          <input type="number" nbInput fullWidth placeholder="Cantidad de animales">
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>