/*
Template Name: Admin pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/

/*
Template Name: Admin Pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/

/*Theme Colors*/

/*bootstrap Color*/

/*Light colors*/

/*Normal Color*/

/*Extra Variable*/

/*******************
Login register and recover password Page
******************/

.login-register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 10% 0;
  position: fixed;
}

.login-box {
  width: 400px;
  margin: 0 auto;
}

.login-box .footer {
  width: 100%;
  left: 0px;
  right: 0px;
}

.login-box .social {
  display: block;
  margin-bottom: 30px;
}

#recoverform {
  display: none;
}

.login-sidebar {
  padding: 0px;
  margin-top: 0px;
}

.login-sidebar .login-box {
  right: 0px;
  position: absolute;
  height: 100%;
}



/* template para muni de san martín @gonzaarteaga */

#img-logo-formulario {
  width: 200px;
  margin: 0 auto 25px;
  display: block;
}
.form-horizontal {
  margin-top:50px;
}
.form-control {
  border-radius: 5px;
  border-color:  #000;
  background-color: #fff;
  color: #000;
  letter-spacing: 1px;
  font-weight: bold;
}

.btn {
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    font-family: Exo;
    margin: 10px 0 0;
    float: right;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn:hover {
  opacity: 0.7;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  letter-spacing: 1px;
  font-weight: bold;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ff6400;
  letter-spacing: 1px;
  font-weight: bold;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ff6400;
  letter-spacing: 1px;
  font-weight: bold;
}