// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

@import './bootstrap-rtl';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();

  // fixed in rc.9 and can be removed after upgrade
  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }
  @include bootstrap-rtl();

  // STYLE AUTOCOMPLETE
  .input-auto div {
    width: 100% !important;
  }
  .auto-style {
    width: 100% !important;
  }
  .auto-style div input:active, .auto-style div input:focus{
      border-color: #40dc7e !important;
  }
  .auto-style input {
    border-radius: 0.375rem;
    font-size: 1rem;
    padding: 0.75rem 1.125rem;
    width: 100%;
    background-color: #ffffff;
    border: 2px solid #40dc7e;
    color: #2a2a2a;
    font-family: inherit;
    line-height: 1.15;
    margin: 0;
  }
  .auto-style ul {
    border-color: #40dc7e !important;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
  }
  .auto-style li.active {
    width: 100%;
    background-color: #40dc7e !important;
  }

  .auto-style li {
    color: #2a2a2a;
    padding: 0.75rem 1.125rem !important;
  }
};
